{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:jsdoc/recommended",
    "plugin:cypress/recommended",
    "plugin:react-hooks/recommended",
    "plugin:testing-library/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "jsdoc",
    "cypress",
    "react-hooks",
    "testing-library"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }]
    
  }
}
