.Header-main {
    background-color: #222;
    height: 150px;
    padding: 10px;
    color: white;
}

.Header-logo {
    height: 60px;
}

.Header-nav {
    margin-top: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .Header-main {
        height: 80px;
    }
 }
