.Header-main {
    height: 150px;
    padding: 20px;
    background-color: #222;
}

.Header-logo {
    height: 60px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .Header-main {
        height: 80px;
    }
 }
